body {
    font-family: Arial, sans-serif;
    background-color: #001B44;
    color: #fff;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    flex: 1;
}

input {
    flex: 2;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #001B44;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3C8DAD;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #529DB7;
}

#contract-url {
    text-align: center;
    word-break: break-all;
}
